.container {
  height: 100%;
  margin-top: 140px;
}

.backgroundImageContainer {
 margin: auto;
}

.backgroundImageContainer img {
  object-fit: contain;
  width: 100%;
}

/* Temp setup for testing */

.container > div:last-child {
  text-align: center;
}

.container > div:last-child > div:last-child > textarea {
  min-width: 99%;
  min-height: 250px;
}
