.iir-container {
  width: 770px;
  padding-top: 40px;
  margin: auto;
}

.open-pdf-btn {
  display: flex;
}

.open-pdf-btn > button {
  margin: auto;
  margin-bottom: 20px;
  background-color: #bfffbf;
}

.open-pdf-btn > button:hover {
  background-color: #50d33c;
}

.open-pdf-btn > div {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
  color: red;
}

.iir-container > div:first-child {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  background-color: #77d2ea4a;
}

.iir-container > div:nth-child(2) {
  height: 100px;
  display: flex;
}

.faded-backgroundImageContainer {
  width: 100%;
  display: flex;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.faded-backgroundImageContainer > img {
  opacity: 0.05;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  width: 100%;
}
