.iir-container {
  width: 100%;
  padding-top: 40px;
}

.iir-container > div:first-child {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  background-color: #77d2ea4a;
}

.iir-container > div:nth-child(2) {
  height: 100px;
  display: flex;
}
