.iir-container {
  width: 770px;
  padding-top: 40px;
  margin: auto;
}

.open-pdf-btn > div {
  text-align: center;
}

.header-info > div {
  text-align: center;
  display: flex;
  margin: 10px 0;
  font-size: 16px;
}

.link-ape-display > div {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid black;
  font-weight: bold;
  text-decoration: underline;
  color: #c20e0e;
}

.link-ape-display > div > button {
  margin: 0 20px;
  background-color: #bfffbf;
  font-size: 18px;
}

.open-pdf-btn > div > button {
  margin: auto;
  background-color: #bfffbf;
}

.link-edit-container > div > div > button {
  font-size: 15px;
  background-color: #faa4a4;
}

.link-ape-display > div > button:hover {
  background-color: #50d33c;
}

.link-edit-container > div {
  margin: auto;
  display: flex;
}

.header-info > div > div {
  margin: auto;
}

.open-pdf-btn > div > div {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
  color: red;
}

.open-pdf-btn > div:first-child {
  margin-bottom: 20px;
  color: red;
}

.open-pdf-btn > div > button:hover {
  background-color: #50d33c;
}

.header-info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.iir-container > div:first-child {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  background-color: #77d2ea4a;
}

.iir-container > div:nth-child(2) {
  height: 100px;
}

.header-info > div:first-child > div {
  border-bottom: 1px solid black;
}

.faded-backgroundImageContainer {
  width: 100%;
  display: flex;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.faded-backgroundImageContainer > img {
  opacity: 0.05;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  width: 100%;
}

#version {
  display: none;
}

.link-input-container {
  text-align: center;
  padding: 15px 0;
  color: red;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.link-edit-container {
  text-align: center;
  background-color: lightgray;
  border-bottom: 1px solid black;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.link-edit-container > div > div:first-child {
  padding-right: 10px;
}

.link-edit-container > div > div > button:hover {
  background-color: #f00;
}

.link-edit-container > div > div:first-child > div > div > form {
  background-color: unset;
}

.link-edit-container > div > div:first-child > div > div > div > button {
  font-size: 15px;
  background-color: #faa4a4;
}

.link-edit-container > div > div:first-child > div > div > div > button:hover {
  background-color: #f00;
}
