.form-container {
  display: block;
  width: 100%;
  min-width: 650px;
  margin: auto;
}

.form-btn-container > div {
  margin: auto;
  margin: 10px auto;
}

.form-container > div > div {
  width: 715px;
  margin: auto;
}

.form-btn-container {
  text-align: center;
  display: flex;
}

.form-btn-container > div > a {
  opacity: unset;
}

.form-btn-container > div > button,
.form-btn-container > div > a > button {
  font-size: 18px;
  border-radius: 5px;
  font-family: serif;
  filter: drop-shadow(1.5px 1.5px 1.5px black);
  background-color: white;
}

.form-disabled > div > div:last-child > textarea {
  box-shadow: unset;
  outline: none;
  border: none;
  width: 98%;
}
