.form-container {
  display: block;
  width: 100%;
  min-width: 650px;
  margin: auto;
}

.form-btn-container > div {
  margin: auto;
  margin: 10px auto;
}

.form-btn-container > div > button,
.form-btn-container > div > a > button {
  background-color: #bfffbf;
}

.form-btn-container > div > button:hover,
.form-btn-container > div > a > button:hover {
  background-color: #50d33c;
}

.form-container > div:first-child > div > div:last-child > textarea {
  max-height: 60px;
}

.form-container > div > div {
  width: 750px;
  margin: auto;
}

.form-btn-container {
  text-align: center;
  display: flex;
}

.form-btn-container > div > a {
  opacity: unset;
}

.form-ts-data {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin: unset;
  width: 100%;
  display: block;
  text-align: center;
}

.form-ts-data > div > div {
  display: flex;
}

.form-ts-data > div > div > div {
  margin: auto;
}

.form-ts-data > div:first-child {
  margin: 10px 0;
}

.form-ts-data > div > div:first-child {
  display: block;
}

.form-ts-data > div:nth-child(2) > div:first-child {
  margin: 10px 0;
}

.form-ts-data > div > div > div > div > input {
  width: 60px;
}
