.form-container {
  width: 100%;
  padding-top: 40px;
}

.form-header > div {
  margin: auto;
  font-size: 40px;
}

.form-body > div {
  width: 100%;
  font-size: 10pt;
}

.form-page > div {
  width: 8in;
  margin: auto;
  border: 1px solid black;
}

.open-pdf-btn {
  display: flex;
}

.open-pdf-btn > button {
  margin: auto;
  margin-bottom: 20px;
  background-color: #bfffbf;
}

.form-page-container > div > div > a > button {
  font-size: 20px;
  background-color: #bfffbf;
}

.open-pdf-btn > button:hover {
  background-color: #50d33c;
}

.form-page-container > div:last-child > div > button {
  font-size: 20px;
  background-color: #bfffbf;
}

.form-page-container > div > div > a > button:hover,
.form-page-container > div:last-child > div > button:hover {
  background-color: #50d33c;
}

.open-pdf-btn > div {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
  color: red;
}

div.form-footer > div {
  position: absolute;
  font-size: 10pt;
  bottom: 25px;
  margin-left: 30px;
}

.form-body > div > div > div {
  display: flex;
  margin: 15px 0;
}

.form-body > div > div > div > div {
  margin: auto;
  text-align: center;
}

.form-container > div:first-child {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  background-color: #77d2ea4a;
}

.form-container > div:nth-child(2) {
  height: 100px;
  display: flex;
}

.form-header > div:first-child,
.form-header > div:last-child {
  height: 50px;
  width: 150px;
  object-fit: contain;
}

.form-page-container > div:last-child {
  display: flex;
  margin: 20px 0;
}

.form-page-container > div:last-child > div {
  margin: auto;
}

div.form-footer > div:last-child {
  right: 0;
  margin-right: 35px;
}

.form-page > div > div:nth-child(3) {
  margin: auto;
}

.form-page > div > div:last-child {
  margin: auto;
}

.form-page > div > div:nth-child(3) > div {
  text-align: center;
  white-space: pre-wrap;
}

.form-body > div > div > div:last-child {
  display: flex;
}

.form-body > div > div > div:nth-child(3) > div:first-child > div {
  display: flex;
}

.form-body > div > div > div:nth-child(2) > div > div:nth-child(odd),
.form-body > div > div > div:first-child > div > div:nth-child(odd) {
  font-size: 11pt;
  font-weight: bold;
}

.form-body > div > div > div:nth-child(3) > div:first-child > div > div {
  margin: 0 5px 0 0;
}

.form-body
  > div
  > div
  > div:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(odd),
.form-body > div > div > div:nth-child(3) > div:last-child > div:nth-child(odd),
.form-body
  > div
  > div
  > div:nth-child(3)
  > div:nth-child(3)
  > div:nth-child(odd),
.form-body
  > div
  > div
  > div:nth-child(3)
  > div:first-child
  > div
  > div:nth-child(odd) {
  font-size: 11pt;
  font-weight: bold;
}

.form-page-container > div > div > a {
  opacity: unset;
}

.form-page {
  background: white;
  display: flex;
  margin: 0 auto;
  overflow-y: unset;
}

.form-header {
  width: 100%;
  height: 1in;
  display: flex;
}

.faded-backgroundImageContainer {
  width: 100%;
  display: flex;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.faded-backgroundImageContainer > img {
  opacity: 0.05;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  width: 100%;
}

.form-header > div:first-child > img {
  width: 100%;
  height: 100%;
}

.form-body {
  height: 9in;
  display: flex;
}

.form-footer {
  height: 78px;
  position: relative;
}
