form {
  display: inline-flex;
  width: 100%;
}

.form-container {
  text-align: left;
}

.form-container > div {
  padding: 0 5px;
}

.form-container > input {
  margin: auto;
  text-transform: uppercase;
}

.form-container > label {
  padding: 5px;
  margin-right: 5px;
}

.form-container > p,
.radio-container > p {
  font-size: inherit;
  margin: 0;
  color: red;
  padding: 5px 10px;
}

.radio-input {
  display: inline-flex;

}

.radio-input > label {
  display: none;
}

.radio-input > input {
  margin: 0 10px;
}

.radio-container > div {
  display: inline-flex;
  padding: 0 5px;
}

.radio-container > div > label {
  padding-right: 10px;
}

.radio-container > div > div > label {
  padding: 0 5px;
}

.textarea-container {
  width: 100%;
}

.textarea-container > div {
  margin: 5px;
}

.textarea-container > div:first-child {
  text-align: center;
}

.textarea-container > div:last-child > textarea {
  width: -webkit-fill-available;
  resize: vertical;
  min-height: 125px;
  box-shadow: inset 0 0 5px #000154;
  padding: 20px 15px;
}
